# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/docroot/sites/*/*settings*.php
/docroot/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/docroot/sites/*/files
/docroot/sites/*/public
/docroot/sites/*/private
/docroot/sites/*/files-public
/docroot/sites/*/files-private
/deployment_identifier
/files-private

# Ignore paths that may contain temporary files
/docroot/sites/*/translations
/docroot/sites/*/tmp
/docroot/sites/*/cache

# Ignore testing related files
/docroot/sites/simpletest

# Ignore other files BLT added
/docroot/sites/default/default.local.drush.yml
/docroot/sites/default/local.drush.yml
/docroot/sites/default/settings/default.includes.settings.php
/docroot/sites/default/settings/local.settings.php

# Ignore drupal core (if not versioning drupal sources)
/docroot/core
/docroot/example.gitignore
/docroot/README.txt
/docroot/INSTALL.txt
/docroot/modules/contrib/
/docroot/modules/README.txt
/docroot/profiles/README.txt
/docroot/sites/README.txt
/docroot/sites/example.sites.php
/docroot/sites/example.settings.local.php
/docroot/sites/development.services.yml
/docroot/themes/README.txt
/vendor
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/autoload.php
/composer.json
/composer.lock
/example.gitignore
/index.php
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config
